In [51]:
import pandas as pd
import numpy as np
import pingouin as pg

In [52]:
path = "../data/raw/df03_Dataset_ENAPE.csv"
dfRaw = pd.read_csv(path)
dfRaw

,FOLIO,SEXO,EDAD,edu_inicial,inscrito,nivel_edu,terminado,nt_causa,asesorias,extraord,...,tv_plana,tablet,smartphone,InternetF,sIF_causa,mejora_vida,mejora_trabajo,mejor_decisor,ENT,FACTOR_y
0,2,1,13,0.0,1.0,3.0,1.0,0.0,2.0,0.0,...,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,24,809
1,2,2,19,0.0,1.0,9.0,1.0,0.0,1.0,2.0,...,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,24,809
2,7,2,8,0.0,1.0,3.0,1.0,0.0,2.0,0.0,...,1.0,2.0,1.0,1.0,0.0,2.0,2.0,3.0,22,722
3,7,1,26,0.0,2.0,0.0,0.0,0.0,0.0,0.0,...,1.0,2.0,1.0,1.0,0.0,2.0,2.0,3.0,22,722
4,9,1,27,0.0,1.0,9.0,1.0,0.0,2.0,2.0,...,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,26,425
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32338,22717,2,23,0.0,1.0,9.0,1.0,0.0,2.0,2.0,...,2.0,2.0,1.0,1.0,0.0,2.0,2.0,2.0,29,365
32339,22717,1,25,0.0,1.0,9.0,1.0,0.0,2.0,2.0,...,2.0,2.0,1.0,1.0,0.0,2.0,2.0,2.0,29,365
32340,22717,2,22,0.0,1.0,9.0,1.0,0.0,2.0,2.0,...,2.0,2.0,1.0,1.0,0.0,2.0,2.0,2.0,29,365
32341,22718,1,11,0.0,1.0,3.0,1.0,0.0,2.0,0.0,...,1.0,1.0,1.0,1.0,0.0,1.0,1.0,3.0,28,2292
32342,22718,1,24,0.0,2.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,0.0,1.0,1.0,3.0,28,2292

In [53]:
# The only change is adding dropna=False
teste = dfRaw[['inscrito_actual', 'max_nivel_esp']].value_counts(dropna=False).reset_index()

# Display the result
display(teste)

    inscrito_actual  max_nivel_esp  count
0               1.0            7.0  12000
1               2.0            0.0  10633
2               1.0            0.0   4165
3               0.0            0.0   2055
4               1.0            8.0   1894
5               1.0            4.0    551
6               1.0            9.0    393
7               1.0            6.0    222
8               1.0            5.0    197
9               1.0            2.0    189
10              1.0            1.0     30
11              1.0            3.0     14

In [54]:
df = dfRaw[(dfRaw["EDAD"] >= 6) & (dfRaw["EDAD"] <= 18)]
df

,FOLIO,SEXO,EDAD,edu_inicial,inscrito,nivel_edu,terminado,nt_causa,asesorias,extraord,...,tv_plana,tablet,smartphone,InternetF,sIF_causa,mejora_vida,mejora_trabajo,mejor_decisor,ENT,FACTOR_y
0,2,1,13,0.0,1.0,3.0,1.0,0.0,2.0,0.0,...,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,24,809
2,7,2,8,0.0,1.0,3.0,1.0,0.0,2.0,0.0,...,1.0,2.0,1.0,1.0,0.0,2.0,2.0,3.0,22,722
7,14,1,11,0.0,1.0,3.0,1.0,0.0,2.0,0.0,...,1.0,1.0,1.0,1.0,0.0,2.0,2.0,1.0,18,413
10,15,2,13,0.0,1.0,4.0,1.0,0.0,2.0,2.0,...,2.0,2.0,1.0,1.0,0.0,1.0,1.0,1.0,18,322
13,21,1,8,0.0,1.0,3.0,1.0,0.0,1.0,0.0,...,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,26,945
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32314,22700,1,6,0.0,1.0,2.0,1.0,0.0,0.0,0.0,...,1.0,2.0,1.0,1.0,0.0,3.0,2.0,3.0,6,389
32323,22707,1,8,0.0,1.0,3.0,1.0,0.0,2.0,0.0,...,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,9,4449
32329,22712,1,18,0.0,1.0,6.0,1.0,0.0,1.0,2.0,...,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,16,937
32331,22714,2,15,0.0,1.0,4.0,1.0,0.0,2.0,2.0,...,1.0,2.0,1.0,1.0,0.0,1.0,1.0,1.0,21,2035
32341,22718,1,11,0.0,1.0,3.0,1.0,0.0,2.0,0.0,...,1.0,1.0,1.0,1.0,0.0,1.0,1.0,3.0,28,2292

In [55]:
#mappings 9 to np.nan;

exceptions = ["nivel_edu", "EDAD", "nt_causa", "nins_causa", "q_hombres", "q_mujeres", "mejora_vida", "mejora_trabajo", "mejor_decisor"]

for i in df.columns:
    if i not in exceptions:
        df.loc[df[i] == 9, i] = 0

In [56]:
compareColumn = set(np.array([0,1,2]))
print(compareColumn)

for i in df.columns:
    unique_values = set(df[i].values.astype(float))
    #unique_values = unique_values.astype(int)
    if unique_values.issubset(compareColumn):
        print(i)
        df.loc[df[i] == 0, i] = np.nan
        df.loc[df[i] == 2, i] = 0
    if 99 in unique_values or 98 in unique_values:
        df.loc[df[i] == 99, i] = np.nan
        df.loc[df[i] == 98, i] = np.nan

{np.int64(0), np.int64(1), np.int64(2)}
SEXO
edu_inicial
inscrito
terminado
asesorias
extraord
recursado
ev_tareas
ev_exam
ev_digital
ev_partcp
ev_libreta
ev_asist
ev_otro
ev_nula
inscrito_actual
entr_diagnost
entr_induccion
entr_regulariz
m_impresos
m_pizarra
m_audio_vid
m_expos
m_otro
med_plataform
med_mail_RS
med_clases_v
med_presencial
t_smartphone
t_laptop
t_PC
t_tablet
t_TV
t_impresos
t_mama
t_papa
t_fam_mujer
t_fam_hombre
t_o_mujer
t_o_hombre
estres
depresion
desespero
antisocial
x<30
pc
laptop
tv_plana
tablet
smartphone
InternetF

In [57]:
# The only change is adding dropna=False
teste = df[['inscrito_actual', 'max_nivel_esp']].value_counts(dropna=False).reset_index()

# Display the result
display(teste)

   inscrito_actual  max_nivel_esp  count
0              1.0            7.0  10395
1              1.0            8.0   1613
2              0.0            0.0   1591
3              1.0            0.0   1195
4              1.0            4.0    477
5              1.0            6.0    191
6              1.0            5.0    174
7              1.0            2.0    164
8              1.0            1.0     27
9              1.0            3.0     14

In [58]:
# melhorando semantica das variaveis mejora_vida, mejora_trabajo, mejor_decisor
columnsToMap = ["mejora_vida", "mejora_trabajo", "mejor_decisor"]

mapping = {
    9: 0,
    4:-2,
    3:-1,
    2:1,
    1:2
}

for i in columnsToMap:
    if 9 in df[i].unique():
        df.loc[:, i] = df[i].map(mapping).astype("float")

In [59]:
df['nins_causa']

0        0.0
2        0.0
7        0.0
10       0.0
13       0.0
        ...
32314    0.0
32323    0.0
32329    0.0
32331    0.0
32341    0.0
Name: nins_causa, Length: 15841, dtype: float64

In [60]:
df.to_csv("../data/processed/df_cleaned.csv", index=False)